# Valeurs par défaut pour tous les comptes.
defaults
auth           on
tls            on
tls_starttls   on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /var/log/msmtp

{# Spécifiez le chemin absolu complet du fichier YAML #}
{% set email_accounts_file = '/home/orchestre/Ansible/roles/msmtp_client/templates/emails/email_accounts_personnel.yml' if smtp_user == smtp_user_personnel else '/home/orchestre/Ansible/roles/msmtp_client/templates/emails/email_accounts_professionnel.yml' %}

{# Lire les comptes à partir du fichier YAML #}
{% set email_accounts = lookup('file', email_accounts_file) | from_yaml %}

{% for account in email_accounts.accounts %}
{% if ansible_facts['os_family'] in account.os %}
# Configuration pour {{ account.name }}
account        {{ account.name }}
auth           plain
host           {{ account.host }}
port           {{ account.port }}
from           {{ account.mail }}
user           {{ account.mail }}
password       {{ account.password }}

# Définir le compte par défaut
account default : {{ account.name }}
{% endif %}
{% endfor %}